<div class="container">
  <div class="row">
    <div class="col-md-12 mb-3">
      <h4 class="text-center">商品新規登録</h4>
    </div>
    <div class="col-md-6 offset-3">
    <%= form_with model: [@store, @item], url: store_store_items_path do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>商品画像</td>
            <td><%= f.file_field :image, accept: "image/*" %></td>
          </tr>
          <tr>
            <td>商品名</td>
            <td><%= f.text_field :name, :placeholder => "商品名" %></td>
          </tr>
          <tr>
            <td>商品説明</td>
            <td><%= f.text_area :introduction, :placeholder => "ここに説明文を記述します", size: "40×60" %></td>
          </tr>
          <tr>
            <td>税抜価格</td>
            <td><%= f.number_field :price, :placeholder => "1000", size: 40 %>円</td>
          </tr>
          <tr>
            <td>販売ステータス</td>
            <td>
              <%= f.radio_button :is_active, :true %>
              <%= f.label :is_active, "販売中", class: 'text-black-50 mr-3' %>
              <%= f.radio_button :is_active, :false %>
              <%= f.label :is_active, "販売停止中", class: 'text-black-50' %>
            </td>
          </tr>
        </tbody>
      </table>
      <hr class="hr">
    </div>
    <div class="col-lg-4 offset-4">
      <%= f.submit "新規登録", class: "btn btn-success btn-block mt-4" %>
    </div>
    <% end %>
    </div>
  </div>
</div>