<div class="container">
  <div class="row">
    <div class="col">
      <%= link_to stores_path do %>
      <h6><i class="fa-solid fa-angles-left text-dark"></i></h6>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7">
      <table class="table table-borderless">
        <% @cart_items.each do |cart_item| %>
        <tbody>
          <tr>
            <td rowspan="4">
              <%= image_tag cart_item.item.get_image(150, 150) %>
            </td>
            <td>
              <strong><%= cart_item.item.name %></strong>
            </td>
          </tr>
          <tr>
            <td>¥<%= cart_item.item.with_tax_price %></td>
            <td></td>
          </tr>
          <tr>
            <td>
            <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch do |f| %>
              <%= f.hidden_field :item_id, :value => cart_item.item.id %>
              <%= f.select :quantity, *[1..10] %>
              <%= f.submit "変更", class: 'btn btn-success btn-sm ml-4' %>
              <%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class: 'btn btn-danger btn-sm' %>
            <% end %>
            </td>
          </tr>
          <tr class="border-top">
            <td><strong>商品合計</strong></td>
            <td>
              <strong>¥<%= cart_item.subtotal %></strong>
              <% @total = @total + cart_item.subtotal %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <div class="col-lg-4">
      <table class="table table-borderless">
        <tbody>
          <tr class="border-bottom">
            <td>合計金額</td>
            <td>¥<%= @total %></td>
          </tr>
          <tr>
            <td>
              <% if @cart_items.empty? %>
                <!-- カートが空の場合の表示 -->
                <%= render 'empty_cart_message' %>
              <% else %>
                <%= link_to "ご注文手続きへ進む >", new_order_path, class: 'btn btn-dark btn-sm pr-5 pl-5' %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>